<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>c-01-purple</key>
	<string>#4e2b8f</string>
	<key>c-03-gray</key>
	<string>#8d9096</string>
	<key>c-02-red</key>
	<string>#d52b1e</string>
	<key>c-03-orange</key>
	<string>#ff8000</string>
	<key>c-03-red</key>
	<string>#e43834</string>
	<key>c-06-gray</key>
	<string>#e3e5e8</string>
	<key>c-04-gray</key>
	<string>#babec5</string>
	<key>c-04-green</key>
	<string>#7fd000</string>
	<key>c-02-blue</key>
	<string>#0077c5</string>
	<key>c-01-red</key>
	<string>#b80000</string>
	<key>c-04-pink</key>
	<string>#ff59cc</string>
	<key>c-03-teal</key>
	<string>#00c1bf</string>
	<key>c-05-green</key>
	<string>#a9e838</string>
	<key>c-05-red</key>
	<string>#ff8979</string>
	<key>c-01-gray</key>
	<string>#393a3d</string>
	<key>c-04-teal</key>
	<string>#00d7d7</string>
	<key>c-03-yellow</key>
	<string>#ffca00</string>
	<key>c-02-teal</key>
	<string>#00a6a4</string>
	<key>c-05-gray</key>
	<string>#d4d7dc</string>
	<key>c-04-orange</key>
	<string>#ff9331</string>
	<key>c-02-green</key>
	<string>#2ca01c</string>
	<key>c-blue-tint</key>
	<string>#ebf9ff</string>
	<key>c-01-blue</key>
	<string>#055393</string>
	<key>c-03-purple</key>
	<string>#7a3dd8</string>
	<key>c-02-pink</key>
	<string>#c9007a</string>
	<key>c-01-pink</key>
	<string>#9c005e</string>
	<key>c-01-green</key>
	<string>#108000</string>
	<key>c-04-blue</key>
	<string>#21abf6</string>
	<key>c-black</key>
	<string>#000000</string>
	<key>c-07-gray</key>
	<string>#eceef1</string>
	<key>c-05-purple</key>
	<string>#a898ff</string>
	<key>c-01-teal</key>
	<string>#008481</string>
	<key>c-05-yellow</key>
	<string>#ffee00</string>
	<key>c-02-gray</key>
	<string>#6b6c72</string>
	<key>c-08-gray</key>
	<string>#f4f5f8</string>
	<key>c-02-purple</key>
	<string>#6436af</string>
	<key>c-white</key>
	<string>#ffffff</string>
	<key>c-05-blue</key>
	<string>#34bfff</string>
	<key>c-05-teal</key>
	<string>#15efe9</string>
	<key>c-03-green</key>
	<string>#53b700</string>
	<key>c-04-purple</key>
	<string>#9457fa</string>
	<key>c-03-pink</key>
	<string>#e31c9e</string>
	<key>c-01-orange</key>
	<string>#f95700</string>
	<key>c-02-orange</key>
	<string>#ff6a00</string>
	<key>c-05-pink</key>
	<string>#ff88ec</string>
	<key>c-04-red</key>
	<string>#f25a52</string>
	<key>c-01-yellow</key>
	<string>#ffad00</string>
	<key>c-02-yellow</key>
	<string>#ffbb00</string>
	<key>c-04-yellow</key>
	<string>#ffdc00</string>
	<key>c-03-blue</key>
	<string>#0097e6</string>
	<key>c-05-orange</key>
	<string>#ffac61</string>
	<key>c-06-red</key>
	<string>#E7456E</string>
	<key>c-06-teal</key>
	<string>#06BFC9</string>
</dict>
</plist>
